html{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
*,:after,:before{
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
}
html{
	font-size:1.09375vw;
}
@media only screen and (max-width:992px){html{font-size:12px}}
@media only screen and (min-width:1646px){html{font-size:18px}}
body,html{margin:0;padding:0;height:100%}
body{
	font-family:Open Sans,sans-serif;
	font-size:14px;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	background-color:#0a0a10;
	color:#43475e;
	overflow:hidden;
	-webkit-overflow-scrolling:auto;
}

body ::-moz-selection{color:#65d7ff;background:rgba(0,0,0,.6)}

body ::selection{color:#65d7ff;background:rgba(0,0,0,.6)}

.app_loaded{will-change:auto;pointer-events:auto}
.app__content{position:relative;height:100%}

@-webkit-keyframes spin{0%{opacity:0}to{opacity:.6;-webkit-transform:translate3d(-19px,-19px,570px);transform:translate3d(-19px,-19px,570px)}}@keyframes spin{0%{opacity:0}to{opacity:.6;-webkit-transform:translate3d(-19px,-19px,570px);transform:translate3d(-19px,-19px,570px)}}

.loading{position:absolute;top:0;right:0;bottom:0;left:0;white-space:nowrap;text-align:center;opacity:0;-webkit-transition:opacity .8s ease-in-out .8s;transition:opacity .8s ease-in-out .8s;will-change:opacity;-webkit-perspective:500px;perspective:500px}

.loading_active{
	opacity:1;
}
.loading:after{
	content:"";
	height:100%;
}
.loading:after,
.loading__content{
	display:inline-block;
	vertical-align:middle;
}
.loading__content{
	white-space:normal;font-family:Anton,Oswald,sans-serif;font-size:100px;color:#fff;line-height:1;text-transform:uppercase;opacity:0;-webkit-transition:opacity 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out;transition:opacity 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out;transition:transform 1.2s ease-in-out,opacity 1.2s ease-in-out;transition:transform 1.2s ease-in-out,opacity 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out;-webkit-transform:scale(.5) translateZ(400px);transform:scale(.5) translateZ(400px);will-change:transform
}
	@media only screen and (max-width:992px){.loading__content{font-size:32px}}
	.loading_active .loading__content{opacity:1;-webkit-transform:scale(.5) translateZ(250px);transform:scale(.5) translateZ(250px)}.loading__content .ladder-text__item{-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}.loading__flow{position:absolute;top:50%;left:50%}.loading__flow__item{display:inline-block;position:absolute;width:38px;height:38px;border-radius:38px;opacity:0;background:hsla(0,0%,100%,.5);-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;-webkit-animation-name:spin;animation-name:spin;-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;will-change:opacity,transform}
		.loading__flow .loading__flow__item:first-child{
			-webkit-transform:rotate(11.61290323deg) translate3d(200px,0,0);
			transform:rotate(11.61290323deg) translate3d(200px,0,0);
			-webkit-animation-delay:.0483871s;
			animation-delay:.0483871s;
		}
		.loading__flow .loading__flow__item:nth-child(2){
			-webkit-transform:rotate(23.22580645deg) translate3d(200px,0,0);
			transform:rotate(23.22580645deg) translate3d(200px,0,0);
			-webkit-animation-delay:.09677419s;
			animation-delay:.09677419s;
		}
		.loading__flow .loading__flow__item:nth-child(3){
			-webkit-transform:rotate(34.83870968deg) translate3d(200px,0,0);
			transform:rotate(34.83870968deg) translate3d(200px,0,0);
			-webkit-animation-delay:.14516129s;
			animation-delay:.14516129s;
		}
			.loading__flow .loading__flow__item:nth-child(4){-webkit-transform:rotate(46.4516129deg) translate3d(200px,0,0);transform:rotate(46.4516129deg) translate3d(200px,0,0);-webkit-animation-delay:.19354839s;animation-delay:.19354839s}.loading__flow .loading__flow__item:nth-child(5){-webkit-transform:rotate(58.06451613deg) translate3d(200px,0,0);transform:rotate(58.06451613deg) translate3d(200px,0,0);-webkit-animation-delay:.24193548s;animation-delay:.24193548s}.loading__flow .loading__flow__item:nth-child(6){-webkit-transform:rotate(69.67741935deg) translate3d(200px,0,0);transform:rotate(69.67741935deg) translate3d(200px,0,0);-webkit-animation-delay:.29032258s;animation-delay:.29032258s}.loading__flow .loading__flow__item:nth-child(7){-webkit-transform:rotate(81.29032258deg) translate3d(200px,0,0);transform:rotate(81.29032258deg) translate3d(200px,0,0);-webkit-animation-delay:.33870968s;animation-delay:.33870968s}.loading__flow .loading__flow__item:nth-child(8){-webkit-transform:rotate(92.90322581deg) translate3d(200px,0,0);transform:rotate(92.90322581deg) translate3d(200px,0,0);-webkit-animation-delay:.38709677s;animation-delay:.38709677s}.loading__flow .loading__flow__item:nth-child(9){-webkit-transform:rotate(104.51612903deg) translate3d(200px,0,0);transform:rotate(104.51612903deg) translate3d(200px,0,0);-webkit-animation-delay:.43548387s;animation-delay:.43548387s}.loading__flow .loading__flow__item:nth-child(10){-webkit-transform:rotate(116.12903226deg) translate3d(200px,0,0);transform:rotate(116.12903226deg) translate3d(200px,0,0);-webkit-animation-delay:.48387097s;animation-delay:.48387097s}.loading__flow .loading__flow__item:nth-child(11){-webkit-transform:rotate(127.74193548deg) translate3d(200px,0,0);transform:rotate(127.74193548deg) translate3d(200px,0,0);-webkit-animation-delay:.53225806s;animation-delay:.53225806s}.loading__flow .loading__flow__item:nth-child(12){-webkit-transform:rotate(139.35483871deg) translate3d(200px,0,0);transform:rotate(139.35483871deg) translate3d(200px,0,0);-webkit-animation-delay:.58064516s;animation-delay:.58064516s}.loading__flow .loading__flow__item:nth-child(13){-webkit-transform:rotate(150.96774194deg) translate3d(200px,0,0);transform:rotate(150.96774194deg) translate3d(200px,0,0);-webkit-animation-delay:.62903226s;animation-delay:.62903226s}.loading__flow .loading__flow__item:nth-child(14){-webkit-transform:rotate(162.58064516deg) translate3d(200px,0,0);transform:rotate(162.58064516deg) translate3d(200px,0,0);-webkit-animation-delay:.67741935s;animation-delay:.67741935s}.loading__flow .loading__flow__item:nth-child(15){-webkit-transform:rotate(174.19354839deg) translate3d(200px,0,0);transform:rotate(174.19354839deg) translate3d(200px,0,0);-webkit-animation-delay:.72580645s;animation-delay:.72580645s}.loading__flow .loading__flow__item:nth-child(16){-webkit-transform:rotate(185.80645161deg) translate3d(200px,0,0);transform:rotate(185.80645161deg) translate3d(200px,0,0);-webkit-animation-delay:.77419355s;animation-delay:.77419355s}.loading__flow .loading__flow__item:nth-child(17){-webkit-transform:rotate(197.41935484deg) translate3d(200px,0,0);transform:rotate(197.41935484deg) translate3d(200px,0,0);-webkit-animation-delay:.82258065s;animation-delay:.82258065s}.loading__flow .loading__flow__item:nth-child(18){-webkit-transform:rotate(209.03225806deg) translate3d(200px,0,0);transform:rotate(209.03225806deg) translate3d(200px,0,0);-webkit-animation-delay:.87096774s;animation-delay:.87096774s}.loading__flow .loading__flow__item:nth-child(19){-webkit-transform:rotate(220.64516129deg) translate3d(200px,0,0);transform:rotate(220.64516129deg) translate3d(200px,0,0);-webkit-animation-delay:.91935484s;animation-delay:.91935484s}.loading__flow .loading__flow__item:nth-child(20){-webkit-transform:rotate(232.25806452deg) translate3d(200px,0,0);transform:rotate(232.25806452deg) translate3d(200px,0,0);-webkit-animation-delay:.96774194s;animation-delay:.96774194s}.loading__flow .loading__flow__item:nth-child(21){-webkit-transform:rotate(243.87096774deg) translate3d(200px,0,0);transform:rotate(243.87096774deg) translate3d(200px,0,0);-webkit-animation-delay:1.01612903s;animation-delay:1.01612903s}.loading__flow .loading__flow__item:nth-child(22){-webkit-transform:rotate(255.48387097deg) translate3d(200px,0,0);transform:rotate(255.48387097deg) translate3d(200px,0,0);-webkit-animation-delay:1.06451613s;animation-delay:1.06451613s}.loading__flow .loading__flow__item:nth-child(23){-webkit-transform:rotate(267.09677419deg) translate3d(200px,0,0);transform:rotate(267.09677419deg) translate3d(200px,0,0);-webkit-animation-delay:1.11290323s;animation-delay:1.11290323s}.loading__flow .loading__flow__item:nth-child(24){-webkit-transform:rotate(278.70967742deg) translate3d(200px,0,0);transform:rotate(278.70967742deg) translate3d(200px,0,0);-webkit-animation-delay:1.16129032s;animation-delay:1.16129032s}.loading__flow .loading__flow__item:nth-child(25){-webkit-transform:rotate(290.32258065deg) translate3d(200px,0,0);transform:rotate(290.32258065deg) translate3d(200px,0,0);-webkit-animation-delay:1.20967742s;animation-delay:1.20967742s}
		.loading__flow .loading__flow__item:nth-child(26){
			-webkit-transform:rotate(301.93548387deg) translate3d(200px,0,0);
			transform:rotate(301.93548387deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.25806452s;
			animation-delay:1.25806452s;
		}
		.loading__flow .loading__flow__item:nth-child(27){
			-webkit-transform:rotate(313.5483871deg) translate3d(200px,0,0);
			transform:rotate(313.5483871deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.30645161s;
			animation-delay:1.30645161s;
		}
		.loading__flow .loading__flow__item:nth-child(28){
			-webkit-transform:rotate(325.16129032deg) translate3d(200px,0,0);
			transform:rotate(325.16129032deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.35483871s;
			animation-delay:1.35483871s;
		}
		.loading__flow .loading__flow__item:nth-child(29){
			-webkit-transform:rotate(336.77419355deg) translate3d(200px,0,0);
			transform:rotate(336.77419355deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.40322581s;
			animation-delay:1.40322581s;
		}
		.loading__flow .loading__flow__item:nth-child(30){
			-webkit-transform:rotate(348.38709678deg) translate3d(200px,0,0);
			transform:rotate(348.38709678deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.45161291s;
			animation-delay:1.45161291s;
		}
		.loading__flow .loading__flow__item:nth-child(31){
			-webkit-transform:rotate(360.00000001deg) translate3d(200px,0,0);
			transform:rotate(360.00000001deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.50000001s;
			animation-delay:1.50000001s;
		}
		.loading__flow .loading__flow__item:nth-child(32){
			-webkit-transform:rotate(371.61290323deg) translate3d(200px,0,0);
			transform:rotate(371.61290323deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.5483871s;
			animation-delay:1.5483871s;
		}
		.loading__flow .loading__flow__item:nth-child(33){
			-webkit-transform:rotate(383.22580646deg) translate3d(200px,0,0);
			transform:rotate(383.22580646deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.5967742s;
			animation-delay:1.5967742s;
		}
		.loading__flow .loading__flow__item:nth-child(34){
			-webkit-transform:rotate(394.83870969deg) translate3d(200px,0,0);
			transform:rotate(394.83870969deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.6451613s;
			animation-delay:1.6451613s;
		}
		.loading__flow .loading__flow__item:nth-child(35){
			-webkit-transform:rotate(406.45161292deg) translate3d(200px,0,0);
			transform:rotate(406.45161292deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.6935484s;
			animation-delay:1.6935484s;
		}
		.loading__flow .loading__flow__item:nth-child(36){
			-webkit-transform:rotate(418.06451615deg) translate3d(200px,0,0);
			transform:rotate(418.06451615deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.7419355s;
			animation-delay:1.7419355s;
		}
		.loading__flow .loading__flow__item:nth-child(37){
			-webkit-transform:rotate(429.67741938deg) translate3d(200px,0,0);
			transform:rotate(429.67741938deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.7903226s;
			animation-delay:1.7903226s;
		}
		.loading__flow .loading__flow__item:nth-child(38){
			-webkit-transform:rotate(441.29032261deg) translate3d(200px,0,0);
			transform:rotate(441.29032261deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.8387097s;
			animation-delay:1.8387097s;
		}
		.loading__flow .loading__flow__item:nth-child(39){
			-webkit-transform:rotate(452.90322584deg) translate3d(200px,0,0);
			transform:rotate(452.90322584deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.8870968s;
			animation-delay:1.8870968s;
		}
		.loading__flow .loading__flow__item:nth-child(40){
			-webkit-transform:rotate(464.51612907deg) translate3d(200px,0,0);
			transform:rotate(464.51612907deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.9354839s;
			animation-delay:1.9354839s;
		}
		.loading__flow .loading__flow__item:nth-child(41){
			-webkit-transform:rotate(476.1290323deg) translate3d(200px,0,0);
			transform:rotate(476.1290323deg) translate3d(200px,0,0);
			-webkit-animation-delay:1.983871s;
			animation-delay:1.983871s;
		}
		.loading__flow .loading__flow__item:nth-child(42){
			-webkit-transform:rotate(487.74193553deg) translate3d(200px,0,0);
			transform:rotate(487.74193553deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.0322581s;
			animation-delay:2.0322581s;
		}
		.loading__flow .loading__flow__item:nth-child(43){
			-webkit-transform:rotate(499.35483876deg) translate3d(200px,0,0);
			transform:rotate(499.35483876deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.0806452s;
			animation-delay:2.0806452s;
		}
		.loading__flow .loading__flow__item:nth-child(44){
			-webkit-transform:rotate(510.96774199deg) translate3d(200px,0,0);
			transform:rotate(510.96774199deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.1290323s;
			animation-delay:2.1290323s;
		}
		.loading__flow .loading__flow__item:nth-child(45){
			-webkit-transform:rotate(522.58064522deg) translate3d(200px,0,0);
			transform:rotate(522.58064522deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.1774194s;
			animation-delay:2.1774194s;
		}
		.loading__flow .loading__flow__item:nth-child(46){
			-webkit-transform:rotate(534.19354845deg) translate3d(200px,0,0);
			transform:rotate(534.19354845deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.2258065s;
			animation-delay:2.2258065s;
		}
		.loading__flow .loading__flow__item:nth-child(47){
			-webkit-transform:rotate(545.80645168deg) translate3d(200px,0,0);
			transform:rotate(545.80645168deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.2741936s;
			animation-delay:2.2741936s;
		}
		.loading__flow .loading__flow__item:nth-child(48){
			-webkit-transform:rotate(557.41935491deg) translate3d(200px,0,0);
			transform:rotate(557.41935491deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.3225807s;
			animation-delay:2.3225807s;
		}
		.loading__flow .loading__flow__item:nth-child(49){
			-webkit-transform:rotate(569.03225814deg) translate3d(200px,0,0);
			transform:rotate(569.03225814deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.3709678s;
			animation-delay:2.3709678s;
		}
		.loading__flow .loading__flow__item:nth-child(50){
			-webkit-transform:rotate(580.64516137deg) translate3d(200px,0,0);
			transform:rotate(580.64516137deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.4193549s;
			animation-delay:2.4193549s;
		}
		.loading__flow .loading__flow__item:nth-child(51){
			-webkit-transform:rotate(592.2580646deg) translate3d(200px,0,0);
			transform:rotate(592.2580646deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.467742s;
			animation-delay:2.467742s;
		}
		.loading__flow .loading__flow__item:nth-child(52){
			-webkit-transform:rotate(603.87096783deg) translate3d(200px,0,0);
			transform:rotate(603.87096783deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.5161291s;
			animation-delay:2.5161291s;
		}
		.loading__flow .loading__flow__item:nth-child(53){
			-webkit-transform:rotate(615.48387106deg) translate3d(200px,0,0);
			transform:rotate(615.48387106deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.5645162s;
			animation-delay:2.5645162s;
		}
		.loading__flow .loading__flow__item:nth-child(54){
			-webkit-transform:rotate(627.09677429deg) translate3d(200px,0,0);
			transform:rotate(627.09677429deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.6129033s;
			animation-delay:2.6129033s;
		}
		.loading__flow .loading__flow__item:nth-child(55){
			-webkit-transform:rotate(638.70967752deg) translate3d(200px,0,0);
			transform:rotate(638.70967752deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.6612904s;
			animation-delay:2.6612904s;
		}
		.loading__flow .loading__flow__item:nth-child(56){
			-webkit-transform:rotate(650.32258075deg) translate3d(200px,0,0);
			transform:rotate(650.32258075deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.7096775s;
			animation-delay:2.7096775s;
		}
		.loading__flow .loading__flow__item:nth-child(57){
			-webkit-transform:rotate(661.93548398deg) translate3d(200px,0,0);
			transform:rotate(661.93548398deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.7580646s;
			animation-delay:2.7580646s;
		}
		.loading__flow .loading__flow__item:nth-child(58){
			-webkit-transform:rotate(673.54838721deg) translate3d(200px,0,0);
			transform:rotate(673.54838721deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.8064517s;
			animation-delay:2.8064517s;
		}
		.loading__flow .loading__flow__item:nth-child(59){
			-webkit-transform:rotate(685.16129044deg) translate3d(200px,0,0);
			transform:rotate(685.16129044deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.8548388s;
			animation-delay:2.8548388s;
		}
		.loading__flow .loading__flow__item:nth-child(60){
			-webkit-transform:rotate(696.77419367deg) translate3d(200px,0,0);
			transform:rotate(696.77419367deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.9032259s;
			animation-delay:2.9032259s;
		}
		.loading__flow .loading__flow__item:nth-child(61){
			-webkit-transform:rotate(708.3870969deg) translate3d(200px,0,0);
			transform:rotate(708.3870969deg) translate3d(200px,0,0);
			-webkit-animation-delay:2.951613s;
			animation-delay:2.951613s;
		}
		.loading__flow .loading__flow__item:nth-child(62){
			-webkit-transform:rotate(720.00000013deg) translate3d(200px,0,0);
			transform:rotate(720.00000013deg) translate3d(200px,0,0);
			-webkit-animation-delay:3.0000001s;
			animation-delay:3.0000001s;
		}




.loading__content__title {
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-bottom: 15px;
}

.loading__content__title .loading__content__word {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
}

.loading__content__text {
  position: relative;
  font-weight: 900;
  font-size: 30px;
  display: block;
  text-align: center;
}
.loading__content__text .loading__content__wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.loading__content__text .loading__content__letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
  padding-left: 2px;
  padding-right: 2px;
}